// box color
$box: rgb(255, 255, 255);
// box hover
$hover_box: rgb(241, 241, 241);

// box shadow
$box_shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$Auth_box_bg: #4069e5ff;
$Auth_box_input_bg: #f3f4f6ff;
$button_type_1_bg: #4069e5ff;
$button_type_1_color: white;

$Primary_color: #1a1b1f;
